.results {
.searchlist-row {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-between;
    .list {
      margin: 5px 0px;
      background-color: #fff;
      width: 100%;
      padding: 5px;
      img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
      }
      div {
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        font-family: monospace;
        padding: 10px;
        color: #08a3de;
      }
    }
  }
  button {
    padding: 8px 15px;
    background: #08a3de;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin: 25px;
    outline-width: 0;
  }
}