.container{
  position: relative;
  .time-counter {
  width: 40px;
  height: 40px;
  background: #f36161f2;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35px;
  right: -8px;
  z-index: 99;
  font-size: 14px;
  }
.card {
    .alignHeader {
      display: flex;
      justify-content: space-between;
      .quiz-count {
        color: #24ad0b;
        font-weight: lighter;
      }
    }
    .card-body {
    .options-text {
        border: 1px solid rgba(0,0,0,.075);
        padding: 6px;
        cursor: pointer;
        background-color: ghostwhite;
       }
      .correct {
        background-color: lightgreen;
      }
      .incorrect {
        background-color: #f36161f2;
        color: #fff;
       }
  }
}
.disable-card {
  pointer-events:none
 }
}