.container {
  position: relative;
  width: 70%;
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      color: salmon;
      font-size: 14px;
      font-family: revert;
      @media only screen and (max-width: 320px) { 
        font-size: 12px;
      }
    }
    .disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }
.card {
   &-header {
    background-color: #0752a5;
   }
    .alignHeader {
      display: flex;
      color: #fff;
      align-items: center;
      .quiz-count {
        color: #ffd495;
        font-weight: bold;
        margin-right: 8px;
        font-size: 20px;
        span {
          font-weight: lighter;
        }
      }
    }
    .card-body {
      p {
        position: relative;
        svg {
          color: #fff;
          position: absolute;
          right: 6px;
          top: 10px;
        }
      }
    .options-text {
        border: 1px solid rgba(0,0,0,.075);
        padding: 6px;
        cursor: pointer;
        background-color: ghostwhite;
       }
      .correct {
        background-color: lightgreen;
        span {
          color: #fff !important;
        }
      }
      .incorrect {
        background-color: #f36161f2;
        span {
          color: #fff !important;
        }
       }
       @media only screen and (max-width: 320px) {
        p {font-size: 13px;}
       }
  }
 }
 @media only screen and (max-width: 320px) { 
   width: 100%;
 }
}