.search {
  position: relative;
  form {
    display: flex;
    div {
      width: 100%;
      display: flex;
      box-shadow: 7px 6px 28px 1px #218dda42; 
      transition: 0.2s all;
    input {
      width: 88%;
      padding: 10px 15px;
      border: 1px solid lightgrey;
      border-radius: 5px 0px 0px 5px;  
      &:focus {
        outline: none !important;
        border:1px solid #218dda;;
        box-shadow: 0 0 10px #719ECE;
      } 
     }
     button {
      font-size: 20px;
      width: 46px;
      color: #fff;
      background-color: #08a3de;
      border: none;
      cursor: pointer;
      outline-width: 0;
      &:active {
        transform: scale(0.98); 
        box-shadow: 3px 2px 22px 1px #218dda42; 
      }
     }
    }
   }
   .overlay {
    position: absolute;
    background: #fff;
    width: 100%;
    text-align: initial;
    top: 38px;
    max-height: 250px;
    overflow: auto;
    z-index: 999;
    box-shadow: 0px 4px 10px 0px #218dda82;
    border-top: 0px;
    h5 {
      padding: 15px;
      margin: 0;
      color: #218dda;
    }
     div {
       padding: 6px 15px;
       border-top: 1.5px solid #218dda82;
       cursor: pointer;
       opacity: 1;
       animation: fadeIn .4s;
       @keyframes fadeIn {
         0% {opacity: 0.6; padding: 3px 15px;}
         100% {opacity: 1; padding: 6px 15px;}
       }
       &:hover {
         background-color: #218dda82;
         color: #fff;
       }
     }
     .heighlight {
       color: #218dda;
       font-weight: bold;
     }

   }
  }