.App {
  text-align: center;
}
.container {
.options-text {
  border: 1px solid rgba(0,0,0,.075);
  padding: 6px;
  cursor: pointer;
}
.correct {
  background-color: lightgreen;
}
.incorrect {
  background-color: red;
 }
}
.text-info {
  font-size: 15px;
}