body {
    background-color: #eceff1;
}
.App {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    h1 {
        color: #08a3de;
    }
    .searching {
        color: #08a3de;
      }
    p {
      text-align: initial;
      color: #08a3de;
      font-size: 14px;
    }
    @media only screen and (max-width: 600px) {
       width: 100%;
    }

  }